name: Validate JSON Files

on:
  pull_request:
    paths:
      - "public/videos/**.json"
      - "public/songs.json"
      - "public/artists.json"
      - "schema/**.json"

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version-file: ".node-version"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Validate JSON files
        run: node scripts/validateJsonSchemas.js
